// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    background: url(/assets/videochat-small.gif);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    h1 {
        padding: 10px;
        background-color: rgba(0,0,0,.7);
        width: 100%;
    }
}
#overlay {
    z-index: -1;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    height: 100%;

}
