<!DOCTYPE html>
<html ng-app="ContactsApp">
<head>
  <title>ContactList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Place background page here -->

<%= yield %>

</body>
</html>
